[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "==3.8.2"
django-rest-auth = "*"
pyyaml = "==5.4"
coreapi = "*"
django-rest-swagger = "*"
django-filter = "*"

[dev-packages]

[requires]
python_version = "3.7"
